# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

#############
# SDK (track2)
#############

# Catch all for non-code project files and unowned files | folders
/**                           @kamlesh-nb
/sdk/                         @kamlesh-nb
# Samples
/sdk/core/                     @kamlesh-nb

# PRLabel: %Azure.Core
/sdk/cormosdb/                  @kamlesh-nb